fastapi
requests
uvicorn
sentencepiece
torch
transformers
streamlit
streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai

# Core app
streamlit
python-dotenv
langchain 
langchain-community


# File handling
Pillow
PyPDF2
python-docx

# Google Gemini + LangChain
google-generativeai
langchain
langchain-google-genai
langchain-community

# Vector store
faiss-cpu

mammoth

